@import "tailwindcss";

:root {
  --charis-green: #001D00;
  --charis-white: #E0E0E0;
  --charis-yellow: #E0EB8D;
  --charis-black: #1f1f1f;
  --charis-accent-green: #65AD5C;
}

@theme inline {
  --color-background: var(--charis-green);
  --font-serif: var(--font-cormorant-garamond);
  --font-sans: var(--font-inter);
  --color-text: var(--charis-black);
}

body {
  background: var(--charis-green);
  color: var(--charis-white);
  font-family: Arial, Helvetica, sans-serif;
}
